<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body class="dark_mode">

         <!-- footer fragment -->
        <footer class="footer bg-bg text-center text-white fixed-bottom" th:fragment="footer" id="footer">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
                <!-- Section: Social media -->
                <section class="mb-4">
                    <!-- Github -->
                    <a class="btn btn-outline-light btn-floating m-1 github_button"
                       th:href="@{https://github.com/LennardZuendorf/HABIT}"
                       role="button"
                       data-mdb-ripple-color="dark">
                        <i class="fab fa-github" style="color: var(--text-color);"></i
                    ></a>
                </section>
                <!-- Section: Social media -->
            </div>
            <!-- Grid container -->
            <!-- Copyright -->
            <div class="text-center p-3 roboto-light" style="background-color:var(--accent-color);color: var(--text-color); font-size: var(--font-size-s)">
                CREATED BY LENNARD ZÜNDORF
            </div>
            <!-- Copyright -->
        </footer>
         <!-- footer fragment -->

         <!-- basic popup fragment -->
         <div
                 class="modal fade"
                 id="settingsModal"
                 tabindex="-1"
                 aria-labelledby="settingsModal"
                 aria-hidden="true"
                 th:fragment="modal"
         >
             <div class="modal-dialog">
                 <div class="modal-content">
                     <div class="modal-header">
                         <h5 class="modal-title" id="settingsModalTitle" style="font-size: var(--font-size-l); color: var(--text-color)">SETTINGS </h5>
                         <button
                                 type="button"
                                 class="btn-close"
                                 data-mdb-dismiss="modal"
                                 aria-label="Close"
                         ></button>
                     </div>
                     <div class="modal-body">

                     </div>
                     <div class="modal-footer">
                         <button type="button" class="btn btn-outline-light modal_button" data-mdb-dismiss="modal"> CLOSE </button>
                         <button type="button" class="btn btn-outline-light modal_button" onclick=""> SAVE </button>
                     </div>
                 </div>
             </div>
         </div>
         <!-- basic popup fragment -->

    </body>
</html>