<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body class="dark_mode">

    <!-- navbar fragment -->
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: var(--background-color)" th:fragment="navbar" id="navbar">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- Navbar brand -->
                    <a class="navbar-brand mt-2 mt-lg-0" th:href="@{/home.html}">
                        <img src="/img/logo_long.svg"
                             height="60px"
                             alt=""
                             loading="lazy"
                        />
                    </a>

                    <!-- right side -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <!-- settings button -->
                        <button type="button" class="btn btn-rounded navbar_button" id="settingsButton" style="color: var(--text-color)" data-mdb-toggle="modal" data-mdb-target="#settingsModal">
                            <i class="fas fa-cog fa-lg" aria-hidden="true" id="settingsButtonIcon"> </i> SETTINGS</button>

                        <!-- color mode button -->
                        <button type="button" class="btn btn-rounded navbar_button" id="colorButton" style="color: var(--habit-color)" onclick="toggleColor()">
                            <i class="fas fa-sun fa-lg" aria-hidden="true" id="colorModeIcon"> </i> COLOR</button>

                        <!-- close button -->
                        <button type="button" class="btn btn-rounded navbar_button" id="closeButton" style="color: var(--text-color)" onclick="logout()">
                            <i class="fa fa-times fa-lg" aria-hidden="true" id="closeButtonIcon"> </i> LOGOUT</button>

                    </ul>
                    <!-- Right elements -->

                    <!-- settings modal -->
                    <div
                            class="modal fade "
                            id="settingsModal"
                            tabindex="-1"
                            aria-labelledby="settingsModalLabel"
                            aria-hidden="true"
                    >
                        <div class="modal-dialog">
                            <div class="modal-content custom-modal">
                                <div class="modal-header ">
                                    <a class="modal-title" id="settingsModalLabel" >SETTINGS</a>
                                    <button
                                            type="button"
                                            class="btn-close"
                                            data-mdb-dismiss="modal"
                                            aria-label="Close"
                                    ></button>
                                </div>
                                <div class="modal-body">
                                    <div id="settingsApp">
                                        <settings_component></settings_component>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn modal-button">SAVE CHANGES</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- settings modal -->

                </div>
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- navbar -->

         <!-- footer fragment -->
        <footer class="footer bg-bg text-center text-white fixed-bottom" th:fragment="footer" id="footer">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
                <!-- Section: Social media -->
                <section class="mb-4">
                    <!-- Github -->
                    <a class="btn btn-floating github-button"
                       th:href="@{https://github.com/LennardZuendorf/HABIT}"
                       role="button"
                       data-mdb-ripple-color="dark">
                        <i class="fab fa-github" style="color: var(--text-color);"></i
                    ></a>
                </section>
                <!-- Section: Social media -->
            </div>
            <!-- Grid container -->
            <!-- Copyright -->
            <div class="text-center p-3 roboto-light" style="background-color:var(--accent-color);color: var(--text-color); font-size: var(--font-size-xs)">
                CREATED BY LENNARD ZÜNDORF
            </div>
            <!-- Copyright -->
        </footer>
         <!-- footer fragment -->
    </body>
</html>