@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,500,900");


:root {
    --goal-blue:
            rgba(30, 127, 218, 1);
    --habit-orange:
            rgba(240, 133, 34, 1);
    --light_white:
            rgba(255, 255, 255, 1);
    --dark-grey:
            rgba(38, 36, 36, 1);

    --background-color:
            rgba(38, 36, 36, 1);
    --accent-color:
            rgba(45, 45, 47, 1);
    --text-color:
            rgba(255, 255, 255, 1);

    --font-size-xs: 11px;
    --font-size-s: 15px;
    --font-size-m: 20px;
    --font-size-l: 40px;
    --font-family: "Roboto";
}

[data-theme="light"] {
    --goal-blue:
            rgba(30, 127, 218, 1);
    --habit-orange:
            rgba(240, 133, 34, 1);
    --light_white:
            rgba(255, 255, 255, 1);
    --dark-grey:
            rgba(38, 36, 36, 1);

    --background-color:
            rgba(255, 255, 255, 1);
    --accent-color:
            rgba(239, 235, 235, 1);
    --text-color:
            rgba(38, 36, 36, 1);
}

.roboto-black {
    font-family: var(--font-family);
    font-weight: 900;
    font-style: normal;
}
.roboto-bold {
    font-family: var(--font-family);
    font-weight: 700;
    font-style: normal;
}
.roboto-medium {
    font-family: var(--font-family);
    font-weight: 500;
    font-style: normal;
}
.roboto-normal {
    font-family: var(--font-family);
    font-weight: 400;
    font-style: normal;
}

.roboto-light {
    font-family: var(--font-family);
    font-weight: 300;
    font-style: normal;
}

.roboto-thin {
    font-family: var(--font-family);
    font-weight: 100;
    font-style: normal;
}

body{
    height: 100%;
    margin: 30px;
}

.bg-dark{
    background-color: var(--background-color);
}

.bg-accent{
    background-color: var(--accent-color);
}

.m-heading{
    color: var(--text-color);
    font-min-size: var(--font-size-m);
    font-max-size: var(--font-size-l);
}

.nav-link{
    padding-right: 75px;
}

#d-flex {
    width: 20%;
    max-width: 250px;
    height: 100%;
}

#navbar {
    width: 100%;
}

.footer_text{
    color: var(--text-color);
    font-size: var(--font-size-xs);
}

#footer{
    background-color: var(--background-color);
    width: 100%;
}

.field_heading{
    color: var(--text-color);
    font: var(--font-size-l);
}

.card-body{
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    border-width: 3px;
}

.modal-dialog{
    background-color: var(--background-color);
    border-width: 3px;
}

.navbar_button{
    margin: 10px;
    background-color: var(--background-color);
}