:root {
    /* light mode color */
    --background-color: rgba(38, 37, 37, 1);
    --text-color: rgba(255, 255, 255, 1);

    /* Typographies */
    /* roboto-11-regular */
    --roboto-11-regular-family: "Roboto";
    --roboto-11-regular-size: 11px;
    --roboto-11-regular-weight: 400;
    --roboto-11-regular-line-height: 31px;
}

/*
[data-theme="lightMode"] {
    /* Variables for dark mode
    --background-color: rgba(255, 255, 255, 1);
    --text-color: rgba(38, 37, 37, 1);
}
*/

.footer {
    display: flex;
    align-items: center;
    height: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
}

.footer_text {
    color: var(--text-color);
    text-align: right;
    text-transform: uppercase;
    margin-right: 23px;
    letter-spacing: 1.25px;
    font-family: "Roboto";

}

.body {
    height: 100%;
    margin-top: 20px;
    padding-bottom: 30px;
}

.div {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 150px;
    padding-bottom: 30px;
    line-height: normal;
    text-align: center;
    font-family: Courier, monospace;
    font-weight: 600;
    font-size: 24px;
}

.div img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin:auto;
}
