#okta-sign-in.auth-container.main-container {
    background-color: var(--accent-color) !important;
    font-family: "Roboto", sans-serif !important;
}

#okta-sign-in .beacon-blank {
    background-color: var(--accent-color) !important;
    font-family: "Roboto", sans-serif !important;
}

#okta-sign-in.auth-container .okta-sign-in-header {
    font-family: "Roboto", sans-serif !important;
    background-color: var(--background-color) !important;
}

#okta-sign-in * {
    color: var(--text-color) !important;
    font-family: "Roboto", sans-serif !important;
    background-color: var(--background-color) !important;
}

#okta-sign-in.auth-container .o-form-head {
    color: var(--text-color) !important;
    font-family: "Roboto", sans-serif !important;
    background-color: var(--background-color) !important;
}

#okta-sign-in.auth-container a.link:link {
    color: var(--goal-color) !important;
    background-color: var(--background-color) !important;
}

#okta-sign-in .o-form-input-name-username{
    background-color: var(--accent-color) !important;
    border-color: var(--text-color) !important;
    box-shadow: var(--text-color) !important;
}

#okta-sign-in .o-form-input-name-password{
    background-color: var(--accent-color) !important;
    border-color: var(--text-color) !important;
    box-shadow: var(--text-color) !important;
}

#okta-sign-in .o-form-input-name-email {
    background-color: var(--accent-color) !important;
    border-color: var(--text-color) !important;
    box-shadow: var(--text-color) !important;
}

#okta-sign-in .o-form-input-name-firstName{
    background-color: var(--accent-color) !important;
    border-color: var(--text-color) !important;
    box-shadow: var(--text-color) !important;
}

#okta-sign-in .o-form-input-name-lastName{
    background-color: var(--accent-color) !important;
    border-color: var(--text-color) !important;
    box-shadow: var(--text-color) !important;
}

#okta-sign-in.custom-checkbox{
    background-color: var(--accent-color) !important;
    box-shadow: none !important;
}

#okta-sign-in .focused-input{
    box-shadow: none !important;
}

#okta-sign-in.auth-container .button-primary {
    color: var(--text-color) !important;
    background-color: var(--accent-color) !important;
    background: var(--accent-color) !important;
    background: var(--accent-color) !important;
    background: var(--accent-color) !important;
    border: none !important;
    box-shadow: none !important;
    background-image: none !important;
}