@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,500,900");


:root {
    --goal-color:
            rgba(30, 127, 218, 1);
    --habit-color:
            rgba(240, 133, 34, 1);
    --light_white:
            rgba(255, 255, 255, 1);
    --darker-white:
            rgba(248, 248, 248, 1);
    --dark-grey:
            rgba(33, 35, 36, 1);
    --ligher-grey:
            rgba(44, 44, 46, 1);
    --outline-color:
        var(--text-color);

    --font-size-xs: 11px;
    --font-size-s: 15px;
    --font-size-m: 20px;
    --font-size-l: 40px;
    --font-family: "Roboto";

    --background-color: var(--dark-grey);
    --accent-color: var(--ligher-grey);
    --text-color: var(--light_white);

    --mdb-light: var(--text-color) !important;

    --default-custom-button-background-color: var(--background-color);
    --default-custom-button-border-color: var(--background-color);

}

.light-mode{
    --background-color: var(--light_white);
    --accent-color: var(--darker-white);
    --text-color: var(--dark-grey);
}

.roboto-black {
    font-family: var(--font-family);
    font-weight: 900;
    font-style: normal;
}
.roboto-bold {
    font-family: var(--font-family);
    font-weight: 700;
    font-style: normal;
}
.roboto-medium {
    font-family: var(--font-family);
    font-weight: 500;
    font-style: normal;
}
.roboto-normal {
    font-family: var(--font-family);
    font-weight: 400;
    font-style: normal;
}

.roboto-light {
    font-family: var(--font-family);
    font-weight: 300;
    font-style: normal;
}

.roboto-thin {
    font-family: var(--font-family);
    font-weight: 100;
    font-style: normal;
}

body{
    height: 100%;
    margin: 30px;
}

.bg-bg{
    background: var(--background-color);
    background-color: var(--background-color);
    color: var(--text-color)
}

.bg-accent{
    background-color: var(--accent-color);
    color: var(--text-color)
}

.m-heading{
    color: var(--text-color);
    font-min-size: var(--font-size-m);
    font-max-size: var(--font-size-l);
}

.nav-link{
    padding-right: 75px;
}

.d-flex {
    width: 20%;
    max-width: 250px;
    height: 100%;
}

.navbar {
    width: 100%;
    box-shadow: none !important;
}

.footer_text{
    color: var(--text-color);
    font-size: var(--font-size-xs);
}

.footer{
    background-color: var(--background-color);
    width: 100%;
}

.field_heading{
    color: var(--text-color);
    font: var(--font-size-l);
}

.card-body{
    height: 100%;
    width: 100%;
    background-color: var(--accent-color);
    border-width: 3px;
}

.modal-dialog{
    background-color: var(--accent-color);
    border-width: 3px;
}

.navbar_button{
    margin: 10px;
    background-color: var(--accent-color);
    font-size: var(--font-size-xs);
}

.btn-outline-light{
    background-color: var(--accent-color);
}

.login-modal{
    color: var(--text-color);
    background-color: var(--accent-color);
    outline-width: medium;
    outline-color: var(--text-color);
}

.login-button{
    background-color: var(--accent-color);
    color: var(--text-color);
    outline-width: medium !important;
    outline-color: var(--text-color);
    font-family: var(--font-family);
    font-size: var(--font-size-m);
}

.custom-modal{
    background-color: var(--accent-color);
    color: var(--text-color);
}

.github-button{
    outline-width: medium;
    outline-color: var(--text-color);
    background-color: var(--accent-color);
}

.modal-button{
    color: var(--text-color);
    font-size: var(--font-size-xs);
    background-color: var(--background-color);
}

.modal-title{
    color: var(--text-color);
    font-size: var(--font-size-xs)
}

.habit-formfield{
    outline-color: var(--habit-color) !important;
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
}

.form-outline{
    outline-color: var(--habit-color) !important;
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
}

.form-label{
    outline-color: var(--habit-color) !important;
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
}

.form-control {
    outline-color: var(--habit-color) !important;
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
}

.habit-button{
    background-color: var(--habit-color) !important;
    color: var(--text-color);
}

.form-outline .form-control:focus~.form-notch .form-notch-leading {
    border-top: .125rem solid var(--outline-color);
    border-bottom: .125rem solid var(--outline-color);
    border-left: .125rem solid var(--outline-color);
}
.form-outline .form-control:focus~.form-notch .form-notch-middle {
    border-bottom: .125rem solid;
    border-color: var(--outline-color);
}

.form-outline .form-control:focus~.form-notch .form-notch-trailing {
    border-color: currentcolor currentcolor currentcolor var(--outline-color);
    border-bottom: .125rem solid var(--outline-color);
    border-right: .125rem solid var(--outline-color);
    border-top: .125rem solid var(--outline-color);
}

.form-outline .form-control:focus~.form-label {
    color: var(--outline-color);
}

.card{
    margin-top: 15px !important;
    background-color: var(--accent-color) !important;
    box-shadow: none;
}

.fa-times{
    color: var(--text-color) !important;
}

#okta-sign-in.auth-container.main-container {
    background-color: var(--accent-color) !important;
    font-family: "Roboto", sans-serif !important;
}

#okta-sign-in .beacon-blank {
    background-color: var(--accent-color) !important;
    font-family: "Roboto", sans-serif !important;
}

#okta-sign-in.auth-container.main-container {
    border-color: var(--accent-color) !important;
    font-family: "Roboto", sans-serif !important;
}

#okta-sign-in.auth-container .okta-sign-in-header {
    border-bottom-color: var(--accent-color) !important;
    font-family: "Roboto", sans-serif !important;
}

#okta-sign-in * {
    color: var(--text-color) !important;
    font-family: "Roboto", sans-serif !important;
}

#okta-sign-in.auth-container .o-form-head {
    color: var(--text-color) !important;
    font-family: "Roboto", sans-serif !important;
}

#okta-sign-in.auth-container a.link:link {
    color: var(--goal-color);
}

#okta-sign-in.auth-container .button-primary {
    background-color: var(--background-color);
    color: var(--text-color);
}