@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,500,900");

:root {
    --goal-color:
            rgba(30, 127, 218, 1);
    --habit-color:
            rgba(240, 133, 34, 1);
    --light_white:
            rgba(255, 255, 255, 1);
    --darker-white:
            rgba(231, 231, 231, 1);
    --dark-grey:
            rgba(33, 35, 36, 1);
    --ligher-grey:
            rgba(44, 44, 46, 1);

    --font-size-xs: 11px;
    --font-size-s: 15px;
    --font-size-m: 20px;
    --font-size-l: 40px;
    --font-family: "Roboto";

    --background-color: var(--dark-grey);
    --accent-color: var(--ligher-grey);
    --text-color: var(--light_white);
    --outline-color: var(--habit-color);

    --default-custom-button-background-color: var(--background-color);
    --default-custom-button-border-color: var(--background-color);

}

.light-mode{
    --background-color: var(--light_white);
    --accent-color: var(--darker-white);
    --text-color: var(--dark-grey);
}

.roboto-black {
    font-family: var(--font-family);
    font-weight: 900;
    font-style: normal;
}
.roboto-bold {
    font-family: var(--font-family);
    font-weight: 700;
    font-style: normal;
}
.roboto-medium {
    font-family: var(--font-family);
    font-weight: 500;
    font-style: normal;
}
.roboto-normal {
    font-family: var(--font-family);
    font-weight: 400;
    font-style: normal;
}

.roboto-light {
    font-family: var(--font-family);
    font-weight: 300;
    font-style: normal;
}

.roboto-thin {
    font-family: var(--font-family);
    font-weight: 100;
    font-style: normal;
}

body{
    height: 100%;
    margin: 30px;
    background-color: var(--background-color) !important;
}

.d-flex {
    width: 20%;
    max-width: 250px;
    height: 100%;
}

.navbar {
    width: 100%;
    box-shadow: none !important;
}

.footer{
    background-color: var(--background-color);
    width: 100%;
}

.modal-dialog{
    background-color: var(--accent-color);
    border-width: 3px;
}

.navbar_button{
    margin: 10px;
    background-color: var(--accent-color);
    font-size: var(--font-size-xs);
}


.login-button{
    background-color: var(--accent-color);
    color: var(--text-color);
    outline-width: medium !important;
    outline-color: var(--text-color);
    font-family: var(--font-family);
    font-size: var(--font-size-m);
}

.custom-modal{
    background-color: var(--accent-color);
    color: var(--text-color);
}

.github-button{
    outline-width: medium;
    outline-color: var(--text-color);
    background-color: var(--accent-color);
}

.modal-button{
    color: var(--text-color);
    font-size: var(--font-size-xs);
    background-color: var(--background-color);
}

.modal-title{
    color: var(--text-color);
    font-size: var(--font-size-xs)
}


.form-label{
    outline-color: var(--habit-color) !important;
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
}

.habit-button{
    background-color: var(--habit-color) !important;
    color: var(--text-color);
    box-shadow: var(--habit-color) !important;
}

.habits-card-main{
    margin-top: 5% !important;
    background-color: var(--accent-color) !important;
    height: 100%;
    width: 100%;
}

.habits-form-card{
    background-color: var(--background-color) !important;
}

.habits-list-card{
    margin-top: 15px !important;
    background-color: var(--accent-color) !important;
    color: var(--text-color) !important;
    border-color: var(--text-color) !important;
}

.fa-times{
    color: var(--text-color) !important;
}


.card-title-l{
    font-size: var(--font-size-l);
    color: var(--text-color);
    text-transform: uppercase;
}

.card-title-m{
    font-size: var(--font-size-m);
    color: var(--text-color);
    text-transform: uppercase;
}

.accent-button{
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
}

.form-select{
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
    font-size: var(--font-size-s) !important;
    height: 3rem !important;
}

.form-select:focus {
    border-color: var(--habit-color) !important;
    box-shadow: 0px 1px 1px var(--accent-color) inset, 0px 0px 8px var(--habit-color);
}

.form-control{
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
    height: 3rem !important;
    font-size: var(--font-size-s) !important;
}

.form-control:focus {
    border-color: var(--habit-color) !important;
    box-shadow: 0px 1px 1px var(--accent-color) inset, 0px 0px 8px var(--habit-color);
}

.edit-btns{
    color: var(--text-color) !important;
    margin-left: 1rem !important;
}

.habit-display-form{
    background-color: var(--accent-color) !important;
    height: 2rem !important;
    color: var(--text-color) !important;
    border-color: var(--habit-color) !important;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--text-color) !important;
    opacity: 1; /* Firefox */
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--text-color) !important;
}

.habit-display-text{
    text-transform: uppercase !important;
    color: var(--text-color) !important;
    float:left !important;
}

.vue-input-style{
    color: var(--habit-color) !important;

}

