<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:onclick="http://www.w3.org/1999/xhtml" data-theme="dark">

    <head>
        <title>HABIT</title>
        <meta http-equiv="Content-Type" content="text/html"/>
        <meta charset="UTF-8">
        <link rel="icon" type="image/svg" th:href="@{/img/logo_clean.svg}"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/css/HTMLStyle.css}">
        <script th:src="@{/js/ColorMode.js}"></script>
    </head>

    <body class="bg-bg dark-mode">

        <!-- basic navbar-->
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: var(--background-color)">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Navbar brand -->
                    <a class="navbar-brand mt-2 mt-lg-0" href="#">
                    </a>
                    <!-- empty left side -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                        </li>
                    </ul>
                    <!-- Left links -->
                </div>
                <!-- Collapsible wrapper -->

                <!-- right side -->
                <div class="d-flex align-items-center">
                    <a></a>

                    <!-- color mode button -->
                    <button type="button" class="btn btn-rounded navbar_button" id="colorButton" style="color: var(--habit-color)" onclick="toggleColor()">
                        <i class="fas fa-sun fa-lg" aria-hidden="true" id="colorModeIcon"> </i> COLOR</button>

                    <!-- close button -->
                    <button type="button" class="btn btn-rounded navbar_button" id="colorButton" style="color: var(--text-color)" th:href="@{/logout}">
                        <i class="fa fa-times fa-lg" aria-hidden="true" id="colorModeIcon"> </i> LOGOUT</button>

                </div>
                <!-- Right elements -->
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- basic navbar-->

        <!-- footer-->
        <div th:insert="fragments/fragments :: footer"></div>
        <!-- footer-->
    </body>

    <!-- bootstrap js -->
    <script   type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
</html>