<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-theme="dark">

    <head>
        <title>HABIT dashboard </title>
        <meta http-equiv="Content-Type" content="text/html"/>
        <meta charset="UTF-8">
        <link rel="icon" type="image/svg" th:href="@{/img/logo_clean.svg}"/>
        <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.6.3/css/all.css}">
        <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/HTMLStyle.css}">
    </head>

    <body class="dark-mode bg-bg">

        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: var(--background-color)">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Navbar brand -->
                    <a class="navbar-brand mt-2 mt-lg-0" href="#">
                        <img src="/img/logo_long.svg"
                             height="60px"
                             alt=""
                             loading="lazy"
                        />
                    </a>
                    <!-- empty left side -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item align-items-center justify-content-center">
                            <a class="nav-link roboto-bold text-center" style="font-size: var(--font-size-l); color: var(--text-color)">WELCOME [Placeholder]!</a>
                        </li>
                    </ul>
                    <!-- Left links -->
                </div>
                <!-- Collapsible wrapper -->

                <!-- right side -->
                <div class="d-flex align-items-center">

                    <!-- settings button -->
                    <a class="btn btn-floating m-1 navbar_button" th:onclick="@{colorMode}" role="button">
                        <i class="fa fa-cog fa-2x " style="color: var(--text-color)"></i>
                    </a>

                    <!-- color mode button -->
                    <a class="btn btn-floating m-1 navbar_button" role="button" onclick="toggleColor()">
                        <i class="fa fa-sun fa-2x" id="colorModeIcon" style="color: var(--habit-color)"></i>
                    </a>

                    <!-- close button -->
                    <a class="btn btn-floating m-1 navbar_button" th:href="@{/home}" role="button" style="">
                        <i class="fa fa-times fa-2x " style="color: var(--text-color)"></i>
                    </a>

                </div>
                <!-- Right elements -->
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- navbar -->

        <!-- content -->
        <div>
            <div class="container-fluid">

                <!-- real content & sidebar row -->
                <div class="row">
                    <!-- sidebar -->
                    <div class="col-2">
                        <div></div>
                    </div>
                    <!-- sidebar -->

                    <!-- content -->
                    <div class="col-8">

                        <!-- habit field -->
                        <div class="col" style="margin: 15px">
                            <div class="card card-body" style="border-color: var(--habit-color)">
                                <div class="card-body">
                                    <h5 class="card-title roboto-bold" style="font-size: var(--font-size-m); color: var(--text-color)">HABITS</h5>
                                    <div class="card-text" style="color: var(--text-color)">
                                        dies ist der platz für alle habits
                                    </div>
                                    <button type="button" class="btn btn-floating" style="color: var(--habit-color)">
                                        <i class="fas fa-plus fa-1x" style="color: var(--light_white)"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- habit field -->

                        <!-- goal field -->
                        <div class="col" style="margin: 15px">
                            <div class="card card-body" style="border-color: var(--goal-color)">
                                <div class="card-body">
                                    <h5 class="card-title roboto-bold" style="font-size: var(--font-size-m); color: var(--text-color)">GOALS</h5>
                                    <div class="card-text" style="color: var(--text-color)">
                                        dies ist der platz für alle goals
                                    </div>
                                    <button type="button" class="btn btn-floating" style="color: var(--goal-color)">
                                        <i class="fas fa-plus fa-1x" style="color: var(--light_white)"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- goal field -->

                    </div>
                    <!-- content -->

                    <!-- blocker -->
                    <div class="col-2">
                        <div></div>
                    </div>
                    <!-- blocker -->
                </div>
            </div>

        </div>
        <!-- content -->

        <!-- footer-->
        <div th:insert="fragments/components :: footer"></div>
        <!-- footer-->

    </body>

    <!-- bootstrap js -->
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js}" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <!-- color switcher js -->
    <script th:src="@{/js/colorMode.js}"></script>

</html>