<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>

        <!--basics-->
        <title>HABIT dashboard </title>
        <meta http-equiv="Content-Type" content="text/html"/>
        <meta charset="UTF-8">
        <link rel="icon" type="image/svg" th:href="@{/img/logo_clean.svg}"/>
        <!--basics-->

        <!--Style Imports-->
        <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css}" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous"/>
        <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.8.0/mdb.dark.min.css}" integrity="sha512-YTNg0WbMXbHXRSwn+NUBIY4tHP64EI/lTztJPC/fDHV9gFNPo8JM1Uwhxm99m6t+AXqrWIB63v3HbhXTC2+Q8w==" crossorigin="anonymous"/>
        <link rel="stylesheet" th:href="@{https://global.oktacdn.com/okta-signin-widget/5.7.3/css/okta-sign-in.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/Style.css}">
        <link rel="stylesheet" th:href="@{/css/OktaStyle.css}">
        <!--Style Imports-->

        <!-- JS Imports-->
        <script th:src="@{https://global.oktacdn.com/okta-signin-widget/5.7.3/js/okta-sign-in.min.js}"  defer></script>
        <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.8.0/mdb.min.js}" integrity="sha512-rVJOxE3yHzlhHmJPnqcl5SZKZ49Foi1AOS3DUD1xw8HsniDi0Ih58kVMAY4mHXVam+4SVXhzqfikJl9/dlm54g==" crossorigin="anonymous" defer></script>
        <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/vue/3.1.1/vue.cjs.js}" integrity="sha512-2e2aXOh4/FgkCAUyurkjk0Uw4m1gPcExFwb1Ai4Ajjg97se/FEWfrLG1na4mq8cgOzouc8qLIqsh0EGksPGdqQ==" crossorigin="anonymous" defer></script>
        <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js}" integrity="sha512-kp7YHLxuJDJcOzStgd6vtpxr4ZU9kjn77e6dBsivSz+pUuAuMlE2UTdKB7jjsWT84qbS8kdCWHPETnP/ctrFsA==" crossorigin="anonymous" defer></script>
        <script th:src="@{/js/colorMode.js}" type="text/javascript" defer></script>
        <script th:src="@{/js/vueApp.js}" type="text/javascript" defer></script>
        <!-- JS Imports-->

        <!--color mode script-->
        <script type="text/javascript">
            (function () {if (localStorage.getItem("colorMode") === "light") {
                toggleColor();}})(); </script>
        <!--color mode script-->

    </head>

    <body class="dark-mode bg-bg">

        <!-- navbar -->
        <div th:insert="fragments/fragments :: navbar"></div>
        <!-- navbar -->

        <!-- content container -->
        <div>
            <div class="container-fluid">

                <!--  content & sidebar row -->
                <div class="row">

                    <!-- sidebar -->
                    <div class="col-2">
                        <div></div>
                    </div>
                    <!-- sidebar -->

                    <!-- content col, row -->
                    <div class="col-8">
                        <div class="row" style="margin: 15px">

                            <!--new habits card-->
                            <div class="card habits-card">
                                <div class="card-body">
                                    <p class="card-title roboto-bold">HABITS</p>
                                    <div class="card-text">
                                        <!-- new habit form -->
                                        <form id="newHabitForm" class="habit-form">
                                            <!-- Tag input -->
                                            <div class="form-outline mb-4 habit-formfield">
                                                <input type="text" id="newHabitTag" class="form-control" />
                                                <label class="form-label" for="newHabitTag" style>My new habit is:</label>
                                            </div>
                                            <div class="row mb-4">
                                                <div class="col">
                                                    <!-- frequency input -->
                                                    <div class="form-outline">
                                                        <input type="text" id="newHabitQuantity" class="form-control" />
                                                        <label class="form-label" for="newHabitQuantity">I want to do it:</label>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <!-- quantity input -->
                                                    <div class="form-outline">
                                                        <input type="number" id="newHabitFrequency" class="form-control" />
                                                        <label class="form-label" for="newHabitQuantity">In a quantity of:</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-block habit-button" v-on:click="newHabit()">
                                                CREATE
                                            </button>
                                        </form>
                                        <!-- new habit form -->
                                    </div>
                                </div>
                            </div>
                            <!--new habits card-->

                            <!--habits card-->
                            <div class="card habits-card">
                                <div class="card-body">
                                    <div class="card-text">
                                        <div id="habits-area">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--habits card-->
                        </div>
                    </div>
                    <!-- content col, row -->

                    <!-- blocker col -->
                    <div class="col-2">
                        <div></div>
                    </div>
                    <!-- content col, row -->

                </div>
                <!--  content, sidebar, blocker row -->
            </div>
        </div>
        <!-- content container -->

        <!-- footer-->
        <div th:insert="fragments/fragments :: footer"></div>
        <!-- footer-->

    </body>
</html>