<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>

        <!--basics-->
        <title>HABIT</title>
        <meta http-equiv="Content-Type" content="text/html"/>
        <meta charset="UTF-8">
        <link rel="icon" type="image/svg" th:href="@{/img/logo_clean.svg}"/>
        <!--basics-->

        <!--Style Imports-->
        <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css}" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous"/>
        <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css}"/>
        <link rel="stylesheet" th:href="@{https://global.oktacdn.com/okta-signin-widget/5.7.3/css/okta-sign-in.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/oktaStyle.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/vueStyle.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
        <!--Style Imports-->

        <!-- JS Imports-->
        <script th:src="@{https://global.oktacdn.com/okta-signin-widget/5.7.3/js/okta-sign-in.min.js}"></script>
        <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.8.0/mdb.min.js}" integrity="sha512-rVJOxE3yHzlhHmJPnqcl5SZKZ49Foi1AOS3DUD1xw8HsniDi0Ih58kVMAY4mHXVam+4SVXhzqfikJl9/dlm54g==" crossorigin="anonymous" defer></script>
        <script th:src="@{https://cdn.jsdelivr.net/npm/mdbvue/lib/index.js}"></script>
        <script th:src="@{https://unpkg.com/vue@next}" defer></script>
        <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js}" integrity="sha512-kp7YHLxuJDJcOzStgd6vtpxr4ZU9kjn77e6dBsivSz+pUuAuMlE2UTdKB7jjsWT84qbS8kdCWHPETnP/ctrFsA==" crossorigin="anonymous" defer></script>
        <!-- JS Imports-->

        <!--color mode script-->
        <script type="text/javascript">
            (function () {if (localStorage.getItem("colorMode") === "light") {
                toggleColor();}})(); </script>
        <!--color mode script-->

    </head>

    <body class="dark-mode bg-bg">

        <!-- icon & text -->
        <div class="container-fluid" style="height: 100%">

            <!-- icon row-->
            <div class="row align-items-center justify-content-center bg-bg " style="padding-top: 5%">
                <div class="d-flex justify-content-center">
                    <i class="fas fa-exclamation-triangle fa-10x" style="color: var(--habit-color)"></i>
                </div>
            </div>
            <!-- icon row-->

            <!-- text row-->
            <div class="row align-items-center justify-content-center bg-bg" style="padding-top: 5%">
                <div class="d-flex justify-content-center" style="font-size: var(--font-size-s)">
                    AN ERROR HAS OCCURRED.
                </div>
            </div>

            <div class="row align-items-center justify-content-center bg-bg" style="padding-top: 5%">
                <div class="d-flex justify-content-center" style="font-size: var(--font-size-xs)">
                    IF THIS HAPPENS AGAIN, PLEASE CONTACT THE ADMIN!
                </div>
            </div>
            <!-- text row-->
        </div>
        <!-- icon & text -->

        <!-- return button -->
            <button type="button" class="btn btn-primary">RETURN HOME</button>
        <!-- return button -->
    </body>

    <!--internal java scripts-->
    <script th:src="@{/js/colorMode.js}" type="text/javascript" defer></script>
    <script th:src="@{/js/oktaWidget.js}" type="text/javascript" defer></script>
    <script th:src="@{/js/vueApp.js}" type="text/javascript" defer></script>
    <!--internal java scripts-->

</html>