<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>

        <!--basics-->
        <title>HABIT error</title>
        <meta http-equiv="Content-Type" content="text/html"/>
        <meta charset="UTF-8">
        <link rel="icon" type="image/svg" th:href="@{/img/logo_clean.svg}"/>
        <!--basics-->

        <!--external Style Imports-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdb-ui-kit@3.8.0/css/mdb.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/all.min.css">
        <link rel="stylesheet" th:href="@{https://global.oktacdn.com/okta-signin-widget/5.7.3/css/okta-sign-in.min.css}"/>
        <!--external Style Imports-->

        <!--internal Style Imports -->
        <link rel="stylesheet" th:href="@{/css/oktaStyle.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/vueStyle.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
        <!--internal Style Imports -->

        <!--external JS Imports-->
        <script src="https://cdn.jsdelivr.net/npm/@okta/okta-signin-widget@5.7.3/dist/js/okta-sign-in.entry.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@3.1.2/dist/vue.global.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/mdb-ui-kit@3.8.0/js/mdb.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@babel/core@7.14.6/lib/index.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/js/fontawesome.min.js"></script>
        <!--external JS Imports-->

    </head>

    <body class="dark-mode bg-bg" onload="startupColor()";>

        <!-- icon & text -->
        <div class="container-fluid" style="height: 100%">

            <!-- icon row-->
            <div class="row align-items-center justify-content-center bg-bg " style="padding-top: 5%">
                <div class="d-flex justify-content-center">
                    <i class="fas fa-exclamation-triangle fa-10x" style="color: var(--habit-color)"></i>
                </div>
            </div>
            <!-- icon row-->

            <!-- text row-->
            <div class="row align-items-center justify-content-center bg-bg" style="padding-top: 5%">
                <div class="d-flex justify-content-center" style="font-size: var(--font-size-s)">
                    AN ERROR HAS OCCURRED.
                </div>
            </div>

            <div class="row align-items-center justify-content-center bg-bg">
                <div class="d-flex justify-content-center" style="font-size: var(--font-size-xs)">
                    IF THIS HAPPENS AGAIN, PLEASE CONTACT THE ADMIN!
                </div>
            </div>
            <!-- text row-->

            <!-- return button -->
            <div class="row justify-content-center align-items-center bg-bg " style="padding-top: 5%">
                <div class="col-4">
                    <button type="button" class="btn btn-rounded login-button" th:onclick="errorButton()" style="font-size: var(--font-size-s)"> RETURN HOME</button>
                </div>
            </div>
            <!-- return button -->
        </div>
        <!-- icon & text -->

    </body>

    <!--internal java scripts-->
    <script th:src="@{/js/colorMode.js}" type="text/javascript" defer></script>
    <script th:src="@{/js/oktaWidget.js}" type="text/javascript" defer></script>
    <script th:src="@{/js/habitApp.js}" type="module"></script>
    <script th:src="@{/js/settingsApp.js}" type="module"></script>
    <!--internal java scripts-->

    <!--color mode script-->
    <script type="text/javascript">
        function startupColor() {
            if (localStorage.getItem("colorMode") === "light") {
                toggleColor();
            }
        }
    </script>
    <!--color mode script-->

    <script type="text/javascript">
        function errorButton() {
            location.href='/home.html';
        }
    </script>



</html>