<!DOCTYPE html>
<html lang="de">

    <head>
        <title>HABIT project </title>
        <meta http-equiv="Content-Type" content="text/html"/>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body style="background-color:var(--background-color);">
    <div>
        <div><img src="/img/logo.svg" alt="HABIT project logo"></div>
    </div>



    </body>

</html>

<script>
    import Footer from "../static/js/vue/footer";
    export default {
        components: {Footer}
    }
</script>