<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>HABIT</title>
        <meta http-equiv="Content-Type" content="text/html"/>
        <meta charset="UTF-8">
        <link rel="icon" type="image/svg" th:href="@{/img/logo_clean.svg}"/>
        <link  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/css/HTMLStyle.css}">
        <script th:src="@{/js/ColorMode.js}"></script>
    </head>

    <body class="dark-mode bg-bg">

        <!-- navbar -->
        <div th:insert="fragments/fragments :: navbar"></div>
        <!-- navbar -->

        <!-- logo & text -->
        <div class="container-fluid" style="height: 100%">

            <!-- logo row-->
            <div class="row align-items-center justify-content-center bg-bg" style="padding-top: 5%">
                <div class="d-flex justify-content-center">
                    <img src="/img/logo.svg"
                         height="300px"
                         alt=""
                         loading="lazy"
                    />
                </div>
            </div>
            <!-- logo row-->

            <!-- login register row-->
            <div class="row align-items-center justify-content-center" style="padding-top: 5%">
                <div class="d-flex justify-content-center">

                    <!-- login button -->
                    <button type="button" class="btn btn-rounded login-button" data-mdb-toggle="modal" data-mdb-target="#loginModal">
                        LOGIN | REGISTER
                    </button>
                    <!-- login button -->

                    <!-- login modal -->
                    <div
                            class="modal fade "
                            id="loginModal"
                            tabindex="-1"
                            aria-labelledby="loginModalLabel"
                            aria-hidden="true"
                    >
                        <div class="modal-dialog login-modal">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a class="modal-title" id="loginModalLabel" >LOGIN | REGISTER</a>
                                    <button
                                            type="button"
                                            class="btn-close"
                                            data-mdb-dismiss="modal"
                                            aria-label="Close"
                                    ></button>
                                </div>
                                <div class="modal-body">
                                    <a th:href="@{/dashboard}">LOGIN | REGISTER</a>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn login-modal-button">SAVE CHANGES</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- login register row-->
        </div>
        <!-- logo & text -->

        <!-- footer -->
        <div th:insert="fragments/fragments :: footer"></div>
        <!-- footer -->



    </body>

    <!-- bootstrap js -->
    <script   type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
</html>