<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>

        <!--basics-->
        <title>LOGIN</title>
        <meta http-equiv="Content-Type" content="text/html"/>
        <meta charset="UTF-8">
        <link rel="icon" type="image/svg" th:href="@{/img/logo_clean.svg}"/>
        <!--basics-->

        <!--Style Imports-->
        <!--external Style Imports-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdb-ui-kit@3.8.0/css/mdb.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdb-vue-ui-kit@1.0.0-beta7/css/mdb.min.css">
        <link rel="stylesheet" th:href="@{https://global.oktacdn.com/okta-signin-widget/5.7.3/css/okta-sign-in.min.css}"/>
        <!--external Style Imports-->

        <!--internal Style Imports -->
        <link rel="stylesheet" th:href="@{/css/oktaStyle.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/vueStyle.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
        <!--internal Style Imports -->

        <!--external JS Imports-->
        <script src="https://cdn.jsdelivr.net/npm/@okta/okta-signin-widget@5.7.3/dist/js/okta-sign-in.entry.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@3.1.2/dist/vue.global.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/mdb-vue-ui-kit@1.0.0-beta6/js/mdb.umd.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/mdb-ui-kit@3.8.0/js/mdb.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@babel/core@7.14.6/lib/index.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/js/fontawesome.min.js"></script>
        <!--external JS Imports-->

    </head>

    <body class="dark-mode bg-bg" onload="startupColor();">

        <!-- navbar -->
        <div th:insert="fragments/fragments :: navbar"></div>
        <!-- navbar -->

        <!-- logo & text -->
        <div class="container-fluid" style="height: 100%">

            <!-- logo row-->
            <div class="row align-items-center justify-content-center bg-bg" style="margin-top: 5%; margin-bottom: 5%">
                <div id="widget-container"></div>
            </div>
            <!-- logo row-->
        </div>
        <!-- logo & text -->

        <!-- footer-->
        <div th:insert="fragments/fragments :: footer" style="margin-top: 50px"></div>
        <!-- footer-->

    </body>

    <!--internal java scripts-->
    <script th:src="@{/js/colorMode.js}" type="text/javascript" defer></script>
    <script th:src="@{/js/oktaWidget.js}" type="text/javascript" defer></script>
    <script th:src="@{/js/vueApp.js}" type="text/javascript" defer></script>
    <!--internal java scripts-->

    <!--color mode script-->
    <script type="text/javascript">
        function startupColor() {
            if (localStorage.getItem("colorMode") === "light") {
                toggleColor();
            }
        }
    </script>
    <!--color mode script-->

</html>